<div class="card-columns">
  
  <div *ngFor="let item of items" (click)="goToArtist(item)" class="card pointer animate__animated animate__fadeIn animate__fast">
    <img [src]="item.images | noimage" class="card-img-top cover" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <span *ngFor="let artist of item.artists" class="badge badge-dark ml-0 mb-1 mr-1 pb-1 pt-1" style="font-size: 14px;">
          &nbsp;{{ artist.name }}&nbsp;
        </span>
      </p>
    </div>
  </div>
  
</div>