<div class="h-100 d-flex flex-column">
  
  <div>
    <app-navbar style="width: 100vw;"></app-navbar>
  </div>
  
  <div class="container mt-0 d-flex flex-column flex-grow-1 w-100" style="box-sizing: border-box;">
    <div class="flex-grow-1">
      <router-outlet></router-outlet>
    </div>    
  </div>
  
  <footer class="mx-auto mb-3 text-center w-100">
    <hr class="mx-1" style="opacity: 0.1;">
    <h2>🧑🏽</h2>
    <h5>
      Made by
      <a class="text-danger" href="https://www.facebook.com/edward.angelesmedina" target="_blank">Edward Angeles</a>
    </h5>
  </footer>
  
</div>
